.sidebar {
  width: 20%;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.main-content {
  flex: 1;
  padding: 20px;
}
section {
  flex: 1; /* This will allow the section to grow and fill the remaining space */
  padding: 10px; /* Add padding if you want some space inside the section */
  overflow-y: auto; /* To handle scrolling if the content is taller than the screen */
}
