.bookCoverCard {
  background-color: lightgrey;
  border: 2px double black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Space between cover card and details */
}
.bookCoverCard.large {
  width: 40%; /* This will make the book cover card take the full width of its container */
  max-width: 800px; /* You can set a maximum width to ensure it doesn't get too wide on large screens */
  height: 20rem; /* This will keep the aspect ratio of the content intact */
  /* Other styles remain the same */
}

.title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem; /* Adapting font size to rem units */
  color: black;
  text-align: center;
}
