.review-filter,
.review-date-filter {
  display: flex;
  justify-content: flex-end; /* Align to the right */
  align-items: right; /* Align vertically */
  margin: 10px;
}

.review-filter select,
.review-date-filter select {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #cccccc;
  background-color: #f8f8f8;
  cursor: pointer;
  font-size: 1rem;
  color: #333333;
  outline: none;
  -webkit-appearance: none; /* Removes default chrome and safari style */
  -moz-appearance: none; /* Removes default style Firefox */
  appearance: none; /* Removes default style for IE */
}

/* Styling for the dropdown arrow */
.review-filter select::-ms-expand,
.review-date-filter select::-ms-expand {
  display: none; /* Removes default style for IE */
}

/* Style to add an arrow symbol */
.review-filter:after,
.review-date-filter:after {
  content: "▼";
  font-size: 1rem;
  position: absolute;
  right: 35px;
  top: 35px;
  pointer-events: none;
  color: #333333;
}

/* Style for options */
.review-filter option,
.review-date-filter option {
  padding: 10px;
}

/* You might want to add media queries if responsiveness is needed */
@media (max-width: 768px) {
  .review-filter select,
  .review-date-filter select {
    width: 100%;
  }
}
